@import 'partials/mosaic';

html,
body {
  margin: 0;
  padding: 0;
}

body { font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; }

* { box-sizing: border-box; }

.site-header { grid-area: hd; }
.cat-mosaic {grid-area: cm; }
footer { grid-area: ft; }
.site-description { grid-area: sd;}
.main { grid-area: main; }

.grid {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: max-content;
  grid-template-areas:
    "hd cm"
    "sd cm"
    "main main"
    "ft ft";
}

.site-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 32px 24px;
}

.header-links {
  margin-top: auto;
  margin-bottom: auto;
  text-align: right;
}

.header-links .link {
  padding-left: 12px;
  padding-right: 12px;
  font-weight: 600;
  text-decoration: none;
  color: black;
  transition: color 250ms ease-in-out;
  &:hover {
    color: rgb(233, 107, 212);
  }
}

.header-branding {
  display: grid;
  grid-template-columns: 40px auto;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: pink;
}

.site-title {
  margin-left: 12px;
  font-size: 18px;
}

.site-description {
  margin-top: auto;
  margin-bottom: auto;
  padding: 16px;
}

.site-description h2 {
  margin-bottom: 0;
  font-size: 64px;
  font-weight: 600;
}

.site-tagline {
  margin-top: 16px;
  font-size: 34px;
  font-weight: 200;
  color: #666;
}

.main {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  padding: 60px 40px;
  background: #f3f1ee;
}

.main .about {
  grid-column: 2;
  padding: 24px 40px;
  background: white;

}

.about p {
  font-size: 18px;
  line-height: 1.6;
}
