html,
body {
  margin: 0;
  padding: 0;
}

body { font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; }

* { box-sizing: border-box; }

.site-header { grid-area: hd; }
.cat-mosaic {grid-area: cm; }
footer { grid-area: ft; }
.site-description { grid-area: sd;}
.main { grid-area: main; }

.grid {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-areas:
    "hd cm"
    "sd cm"
    "main main"
    "ft ft";
}

.site-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-branding {
    display: grid;
    grid-template-columns: 40px auto;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: pink;
}

.site-title { font-size: 16px; }

.site-description h2 {
  margin-bottom: 0;
  font-size: 64px;
  font-weight: 600;
}

.site-tagline {
  margin-top: 16px;
  font-size: 34px;
  font-weight: 200;
  color: #666;
}

.cat-mosaic {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: 190px 225px 200px 225px;
  grid-gap: 20px;
}

.mosaic {
  background: #ccf6d3;
}

.mosaic:nth-of-type(1) { background: #ffd7d8; }

.mosaic:nth-of-type(2){
  grid-row: span 2;
  background: #feeec0;
}

.mosaic:nth-of-type(3) { background: #f3eee5; }

.mosaic:nth-of-type(4) {
  grid-row: span 2;
  background: #c4eefb;
}

.mosaic:nth-of-type(5) { background: #d7d7ff; }
.mosaic:nth-of-type(6) { background: #ffd9fe; }

.mosaic:nth-of-type(7) {
  grid-row: span 2;
  background: #d0efeb;
}

.mosaic:nth-of-type(8) { background: #c0e2ff; }
.mosaic:nth-of-type(9) { background: #e8f7cd; }

.main {
  background: #f3f1ee;
}
